emailService/emailWeb/WebContent/wsdl/emailServicePort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://code/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="emailServiceService" targetNamespace="http://code/">
<types>
<xsd:schema>
<xsd:import namespace="http://code/" schemaLocation="http://localhost:8456/email?xsd=1"/>
</xsd:schema>
</types>
<message name="validateEmailAddress">
<part element="tns:validateEmailAddress" name="parameters"/>
</message>
<message name="validateEmailAddressResponse">
<part element="tns:validateEmailAddressResponse" name="parameters"/>
</message>
<message name="sendEmail">
<part element="tns:sendEmail" name="parameters"/>
</message>
<message name="sendEmailResponse">
<part element="tns:sendEmailResponse" name="parameters"/>
</message>
<message name="sendEmailBatch">
<part element="tns:sendEmailBatch" name="parameters"/>
</message>
<message name="sendEmailBatchResponse">
<part element="tns:sendEmailBatchResponse" name="parameters"/>
</message>
<portType name="emailService">
<operation name="validateEmailAddress">
<input message="tns:validateEmailAddress" wsam:Action="http://code/emailService/validateEmailAddressRequest"/>
<output message="tns:validateEmailAddressResponse" wsam:Action="http://code/emailService/validateEmailAddressResponse"/>
</operation>
<operation name="sendEmail">
<input message="tns:sendEmail" wsam:Action="http://code/emailService/sendEmailRequest"/>
<output message="tns:sendEmailResponse" wsam:Action="http://code/emailService/sendEmailResponse"/>
</operation>
<operation name="sendEmailBatch">
<input message="tns:sendEmailBatch" wsam:Action="http://code/emailService/sendEmailBatchRequest"/>
<output message="tns:sendEmailBatchResponse" wsam:Action="http://code/emailService/sendEmailBatchResponse"/>
</operation>
</portType>
<binding name="emailServicePortBinding" type="tns:emailService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="validateEmailAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendEmailBatch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="emailServiceService">
<port binding="tns:emailServicePortBinding" name="emailServicePort">
<soap:address location="http://localhost:8080/emailWeb/services/emailServicePort"/>
</port>
</service>
</definitions>
